@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
    background-color: #8395a7;
    color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}
img {
    max-height: 300px;
    max-width: 400px;
}

ul {
    list-style-type: none;
    background-color: #222f3e;
    padding: 40px;
}

p {
    max-width: 500px;
   
}